body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  background-color: #0079d3;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav ul li {
  margin-right: 20px;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav ul li a:hover {
  text-decoration: underline;
}

.search-bar input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-bar .sbutton {
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4a90e2;
  color: #fff;
  cursor: pointer;
}

.category-bar select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.details {
  cursor: pointer;
  margin-bottom: 20px;
}

.details h2 {
  margin: 0;
  color: #0079d3;
}

.details img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.footer {
  background-color: #0079d3;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
}

.social-icons a:hover {
  color: #ccc;
}


.sbutton {
  color: white;
}


.t,.s,.im {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.t,.s,.im label.text {
  font-size: 0.75rem;
  color: #818CF8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #e8e8e8;
  width: fit-content;
}

.t,.s,.im input[type=text].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #818CF8 solid;
  border-radius: 5px;
  background: #e8e8e8;
}

.t,.s,.im input[type=text].input:focus {
  outline: none;
}

.okk {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: 0 7px 29px rgba(0,0,0,0.05);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.okk:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 7px 29px rgba(93, 24, 220, 0.8);
}

.okk:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 0 0 rgba(93, 24, 220, 0);
  transform: translateY(2px);
  transition: 100ms;
}




.input{
  margin-bottom: 15px;
}

.input input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.imageee img {
  display: block;
  margin-top: 10px;
  max-width: 100%;
}

.Butt {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

