body {
    background-image: url("https://img.freepik.com/free-photo/particle-lines-futuristic-gradient-background_53876-104053.jpg?w=996&t=st=1707579378~exp=1707579978~hmac=9db50b581e8cf77d77bbf519791a6371b2b116e4426fd8acc55dea335bdd7232");
    background-size: cover; 
    height: 100%;
    width: 100%;
}

.signn {
    max-width: 500px; /* Adjusted max-width */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #4442c7;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    top: 6rem;
    left: 42rem;
}
  
.titleee {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.input-container {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 240px; /* Adjusted max-width */
    position: relative;
}
  
.input-container input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
}
  
.input-container label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}
  
.input-container :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #fffdfd;
}
  
.input-container :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}

.Butt {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #b650ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
